/* <--------- SECTION 1 CREATE CAMPAIGN PAGE ---------> */

.section-one.form {
  padding-top: 100px;
  padding-bottom: 70px;
  font-size: 8rem;
}

.form-header {
  text-align: center;
  margin-bottom: 30px;
}

.step-by-step {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 225px;
  align-items: center;
}

.instructions-icon {
  text-align: center;
  font-size: 3.5rem;
  cursor: auto;
  margin-bottom: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.sub-instructions {
  font-size: 1.3rem;
  text-align: center;
}

.arrow-instructions {
  display: flex !important;
  align-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
  cursor: auto;
}

/* <--------- SECTION 1 CREATE CAMPAIGN PAGE ---------> */

/* <--------- SECTION 2 FORM ---------> */

.section-two {
  padding-top: 70px;
  padding-bottom: 40px;
}

.form-header-container {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.create-form {
  font-size: 4rem;
}

.whole-input-form {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.form-box.top {
  transform: translateX(-1200px);
}

.form-box.bottom {
  transform: translateX(1200px);
}

.form-box.top,
.form-box.bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.form-box.top.active,
.form-box.bottom.active {
  transform: translateX(0px);
  position: relative;
}

.form-field-descriptor {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 35px auto 50px auto;
}

.form-box-header {
  text-align: center;
  font-size: 2.3rem;
  flex-basis: 100%;
}

.divider.left-right-form {
  flex-basis: 50%;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input-form:last-of-type {
  margin-bottom: 0;
}

.input-form.has-buttons {
  margin-bottom: 70px;
}

.label-form-and-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.label-form {
  font-size: 1.8rem;
}

.form-description {
  color: #8c8c8c;
  font-size: 1.4rem;
}

.not-important-paragraph-btn {
  display: flex;
  margin-top: -6px;
  gap: 10px;
  align-items: center;
}

.not-important-btn {
  font-size: 1.2rem;
  min-width: fit-content;
  border: 1px solid rgba(244, 244, 244, 0.3);
  color: rgba(244, 244, 244, 0.3);
  transition: all 0.3s ease-in-out;
}

.not-important-btn:hover {
  border: 1px solid rgba(244, 244, 244, 1);
  color: rgba(244, 244, 244, 1);
}

.input-form-field {
  background: transparent;
  min-height: 54px;
  border-radius: 10px;
  padding: 15px;
  border: 3px solid transparent;
  box-shadow: inset -4px -4px 2px #2a2d2f, inset 5px 5px 4px #18191b;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.5rem;
  color: var(--color-white);
}

.input-form-field:focus {
  background: var(--color-white);
  box-shadow: none;
  color: #26272b;
}

.whole-input-form .input-form:nth-child(3n + 1) .input-form-field:focus {
  border: 3px solid var(--color-teal);
}

.whole-input-form .input-form:nth-child(3n + 2) .input-form-field:focus {
  border: 3px solid var(--color-salmon);
}

.whole-input-form .input-form:nth-child(3n + 3) .input-form-field:focus {
  border: 3px solid var(--color-deepblue);
}

.select-at-top {
  display: flex;
}

.input-form.same-line {
  width: 100%;
}

.select-form {
  height: 40px;
  width: 90%;
  outline: none;
  border-radius: 5px;
  border: none;
  background: none;
  color: var(--color-white);
  border: 1px solid rgba(244, 244, 244, 0.3);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.select-form:hover {
  border: 1px solid rgba(244, 244, 244, 0.5);
}

.radio-buttons-container {
  display: flex;
  gap: 40px;
}

.button-form-container {
  display: flex;
  gap: 40px;
  position: relative;
}

.form-btn {
  border: 1px solid var(--color-white);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-size: 1.4rem;
  opacity: 0.5;
  height: 60px;
  min-width: 60px !important;
  padding: 0 0;
}

.form-btn:hover {
  opacity: 0.8;
}

.form-btn.num-employees:hover {
  border: 1px solid var(--color-teal);
  color: var(--color-teal);
}

.form-btn.active {
  border: 1px solid var(--color-teal);
  color: var(--color-teal);
  opacity: 1;
  box-shadow: 0px 0px 7px var(--color-teal);
}

span.text-below-btn {
  position: absolute;
  bottom: -30px;
  font-size: 1.2rem;
}

.all-icons {
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.top-icons,
.bottom-icons {
  display: flex;
  justify-content: center;
  gap: 7px;
  font-size: 1rem;
}

.social-buttons {
  display: flex;
  gap: 15px;
}

.targeting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: 0.6;
  background: rgba(244, 244, 244, 0.5);
}

.targeting-btn:hover {
  opacity: 0.8;
}

.targeting-btn.active {
  background: rgba(244, 244, 244, 1);
  color: var(--color-charcoal);
  box-shadow: 0px 0px 7px var(--color-white);
  opacity: 1;
}

.forward-backward-form-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 2rem;
  margin: 40px auto 20px auto;
  width: 90%;
  padding-top: 30px;
  border-top: 1px solid rgba(244, 244, 244, 0.3);
}

.form-direction {
  transition: all 0.2s ease-in-out;
}

.submit-container {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.submit-container.show {
  transform: translateY(0px);
  background: rgba(77, 109, 224, 0.5);
}

.submit-button {
  transform: scale(1.1);
  background: var(--background-gradient);
  color: var(--color-charcoal);
  border: none;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  transform: scale(1.2);
}

.submit-button.disabled {
  transform: scale(1);
}

.campaign-text-btn {
  font-size: 1.2rem;
}

/* <--------- SECTION 2 FORM ---------> */
