/* <--------- SECTION 1 LAUNCH CAMPAIGN STYLING ---------> */

.section-one.campaign {
  padding-top: 100px;
  padding-bottom: 70px;
}

.can-edit.campaign {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 8rem;
}

.campaign-name {
  text-align: center;
  font-size: inherit;
}

.edit-btn.campaign {
  font-size: 4rem;
  color: #a0a0a0;
  cursor: pointer;
}

.close-modal-campaign,
.edit-btn.campaign {
  cursor: pointer;
}

.campaign-instructions {
  text-align: center;
  font-size: 1.6rem;
}

.step-by-step {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 225px;
  align-items: center;
}

.instructions-icon {
  text-align: center;
  font-size: 3.5rem;
  cursor: auto;
  margin-bottom: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.sub-instructions {
  font-size: 1.3rem;
  text-align: center;
}

.arrow-instructions {
  display: flex !important;
  align-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
  cursor: auto;
}

/* <--------- SECTION 1 LAUNCH CAMPAIGN STYLING ---------> */

/* <--------- SECTION 2 LAUNCH CAMPAIGN STYLING ---------> */

.section-two {
  padding-top: 70px;
  padding-bottom: 40px;
}

.email-template-header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 50px;
}

.email-template {
  position: relative;
  min-height: 100px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.warning-and-email {
  width: 75%;
  margin: 0 auto 50px auto;
}

.warning {
  font-size: 1.4rem;
  color: #8c8c8c;
}

.warning span {
  font-family: OutfitBold;
}

.warning span:first-of-type {
  text-decoration: underline;
}

.email-template:hover {
  box-shadow: -14px -14px 28px #2a2d2f, 14px 14px 28px #18191b;
}

.email-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 10px;
  padding: 20px;
  left: 0;
}

.email-left span {
  margin-left: 12px;
  font-size: 2rem;
}

.email-right {
  gap: 15px;
  display: flex;
  align-items: center;
}

.email-recipients {
  font-size: 1.5rem;
}

.email-template[data-approved="true"] .approve-email {
  background: rgb(64, 151, 64);
  border-color: rgb(64, 151, 64);
  box-shadow: 0px 0px 10px rgb(64, 151, 64);
}

.reject-email {
  border-color: #ff5a5a;
}

.reject-email:hover {
  background: #ff5a5a !important;
}

.are-you-sure {
  display: none;
  gap: 35px;
  align-items: center;
  cursor: pointer;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.you-sure {
  font-size: 2rem;
  text-align: center;
}

.you-sure.yes {
  color: #ff5a5a;
}

.you-sure.no {
  color: #409740;
}

.email {
  position: absolute;
  top: 105px;
  padding: 20px;
  width: 100%;
  transition: all 2s ease-in-out;
}

.divider-email {
  position: absolute;
  height: 1px;
  width: 96%;
  background: var(--color-white);
  margin: 0 auto;
  top: 100px;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.divider-email.open {
  opacity: 0.5;
}

.edit-email-btn {
  position: absolute;
  top: 125px;
  right: -250px;
  opacity: 1;
  z-index: 1;
  border-color: #676767;
  transition: right 1s ease-in-out, background 0.3s ease-in-out;
}

.edit-email-btn.open {
  right: 20px;
}

.edit-email-btn:hover {
  background: #676767;
}

.email-header.header-text {
  font-size: 2rem;
  margin-bottom: 5px;
}

.subject-email,
.body-email {
  font-size: 1.4rem;
}

.subject-email {
  transform: translateY(100px);
  margin-bottom: 50px;
  opacity: 0;
  width: 80%;
  transition: all 0.7s ease-in-out;
}

.body-email {
  transform: translateY(300px);
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

.body-text {
  white-space: pre-wrap;
}

.subject-email.open,
.body-email.open {
  transform: translateY(0px);
  opacity: 1;
}

/* <--------- SECTION 2 LAUNCH CAMPAIGN STYLING ---------> */

.launch-campaign-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.launch-campaign {
  background: var(--background-gradient);
  border: none;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  color: var(--color-charcoal);
  min-height: 50px;
  transition: all 0.3s ease-in-out;
}

.launch-campaign:hover {
  transform: scale(1.05);
}

.approval-left {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
}

.approval-left span {
  font-size: 2rem;
  margin-left: 5px;
  margin-right: 5px;
}

/* <--------- POPUP ON LAUNCH CAMPAIGN PAGE ---------> */

.popup {
  position: fixed;
  transform: translate(-50%, -50%) scale(0.5);
  left: 50%;
  top: 50%;
  background: var(--color-charcoal);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  min-width: 500px;
  max-height: 500px;
  overflow: auto;
  z-index: -9999;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 20px;
}

.popup.show {
  z-index: 400;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-header {
  display: flex;
}

.popup-header-text {
  font-size: 3rem;
  flex-basis: 100%;
}

.close-modal {
  flex-basis: 30%;
}

.divider-popup {
  margin: inherit;
  margin: 30px 0;
}

.popup-paragraph {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

ol.popup-paragraph {
  list-style-position: inside;
  margin-top: 10px;
  margin-left: 40px;
}

.popup-li {
  margin-top: 10px;
}

.official-launch,
.save-changes {
  background: var(--background-gradient);
  color: var(--color-charcoal);
  border: none;
  transition: all 0.3s ease-in-out;
}

.official-launch:hover,
.save-changes:hover {
  transform: scale(1.1);
}

.modal-buttons-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.go-back {
  border: 1px solid #ff5a5a;
  transition: all 0.25s ease-in-out;
}

.go-back:hover {
  background: #ff5a5a;
  box-shadow: 0px 0px 10px #ff5a5a;
}

/* <--------- POPUP ON LAUNCH CAMPAIGN PAGE ---------> */

/* <--------- EDIT EMAIL POPUP ---------> */

.popup.edit-email,
.popup.edit-campaign-name {
  min-width: 60%;
  min-height: fit-content;
}

.subject-edit-email {
  margin-bottom: 30px;
}

.edit-email-header {
  font-size: 2rem;
  margin-bottom: 10px;
}

.input,
.body-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background: var(--color-white);
  outline: none;
  resize: none;
  font-size: 1.5rem;
}

.input {
  border-radius: 50px;
}

/* <--------- EDIT EMAIL POPUP ---------> */

/* <--------- SECTION 2 ---------> */

.add-contacts-container {
  width: 75%;
  margin: 0 auto;
}

.contact-form {
  margin-bottom: 20px;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

ol {
  list-style: none;
  counter-reset: counterName;
}

.person-count li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  counter-increment: counterName;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #474747;
}

.person-count li:last-of-type {
  border: none;
  margin-bottom: 0px;
}

.person-count li:before {
  content: counter(counterName) ".";
  position: absolute;
  left: -50px;
  font-family: OutfitMedium;
  font-size: 1.6rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.4rem;
}

.contact {
  min-height: 35px;
  background: transparent;
  border: none;
  box-shadow: inset -2px -2px 4px #2a2d2f, inset 2px 2px 4px #18191b;
  border-radius: 5px;
  padding: 5px;
  color: var(--color-white);
  outline: none;
}

.add-more-contacts {
  display: block;
  margin: 0 auto;
  border-color: var(--color-white);
  opacity: 0.5;
}

.add-more-contacts:hover {
  background: var(--color-white) !important;
  color: var(--color-charcoal);
  opacity: 1;
}

/* <--------- SECTION 2 ---------> */
