/* <--------- SECTION 1 ACCOUNT ANALYTICS ---------> */

.section-one.my-campaigns {
  padding-top: 100px;
  padding-bottom: 70px;
  font-size: 8rem;
}

.analytics-header {
  text-align: center;
}

.campaign-analytics {
  display: flex;
  margin-top: 30px;
  background: var(--color-charcoal);
  box-shadow: var(--box-shadow);
  padding: 30px 0;
  justify-content: space-evenly;
  border-radius: 10px;
}

.analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}

.number-analytics {
  font-size: 4rem;
}

.analytics-name {
  font-size: 1.4rem;
  margin-top: 5px;
  color: #8c8c8c;
}

.divider-analytics {
  width: 1px;
  height: 100px;
  background: #8c8c8c;
  opacity: 0.3;
}

.question-time-saved {
  position: relative;
  display: flex;
  align-items: center;
  color: #8c8c8c;
}

.question-icon {
  font-size: 1.7rem;
  margin-top: 5px;
  margin-left: 7px;
  cursor: pointer;
}

.time-saved-popup-container {
  position: absolute;
  right: -45px;
  top: 18px;
  width: 400px;
  padding: 15px;
  overflow: hidden;
}

.time-saved-popup-inner {
  font-size: 1.4rem;
  padding: 10px;
  color: var(--color-white);
  border-radius: 10px;
  background: rgba(244, 244, 244, 0.15);
  border: 1px solid rgba(244, 244, 244, 0.5);
  transform: translateX(500px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.time-saved-popup-inner.show {
  opacity: 1;
  transform: translateX(0px);
}

.popup-from {
  position: absolute;
  top: -14px;
  font-size: 2rem;
  right: 29px;
  color: var(--color-white);
  opacity: 0;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

.popup-from.show {
  opacity: 0.5;
  transform: translateX(0px);
}

/* <--------- SECTION 1 ACCOUNT ANALYTICS ---------> */

/* <--------- SECTION 2 CAMPAIGN TABLE ---------> */

.section-two {
  padding-top: 70px;
  padding-bottom: 40px;
}

.campaigns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.campaigns-container.show {
  margin-bottom: 50px;
}

.my-campaigns-header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 25px;
}

.campaign-todo-buttons-number {
  display: flex;
  gap: 10px;
  align-items: center;
}

button.download,
button.archive,
.number-campaigns {
  opacity: 0;
  transform: translateY(-75px);
  transition: all 0.4s ease-in-out;
  pointer-events: none;
}

button.download.show,
button.archive.show,
.number-campaigns.show {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: initial;
}

.number-campaigns {
  font-size: 1.4rem;
  color: #8c8c8c;
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  margin: 0px 10px 10px 10px;
}

.filter-left,
.filter-right {
  display: flex;
  gap: 10px;
}

.filter-type {
  background: none;
  border: none;
  font-size: 1.4rem;
  font-style: italic;
  color: #8c8c8c;
  outline: none;
}

.archived {
  border: 1px solid #8c8c8c;
}

.archived:hover {
  background: #8c8c8c;
}

table {
  text-align: center;
}

table.campaigns {
  width: 100%;
  table-layout: fixed;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  overflow: hidden;
}

table th {
  font-size: 1.7rem;
  padding: 0px 10px 20px 10px;
  border-bottom: 2px solid rgba(244, 244, 244, 0.7);
}

.table-body {
  font-size: 1.4rem;
}

.table-body tr {
  transition: all 0.25s ease-in-out;
  position: relative;
  border-radius: 3px;
}

.table-body tr:hover {
  background: rgb(49, 50, 54);
}

tr[selected="true"] {
  background: rgb(49, 50, 54);
}

.table-body td {
  padding: 30px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid rgba(244, 244, 244, 0.3);
  border-left: 1px solid rgba(244, 244, 244, 0.3);
}

.table-body td:first-of-type {
  border-left: none;
}

.table-5 {
  width: 5%;
}

.table-7 {
  width: 7%;
}

.table-10 {
  width: 10%;
}

.table-15 {
  width: 15%;
}

.table-28 {
  width: 28%;
}

.campaign-details {
  display: flex;
  flex-direction: column;
}

.campaign-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.campaign-created {
  color: #8c8c8c;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 5px;
}

.campaign-buttons {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 35px;
  right: 30px;
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.3s ease-in-out;
}

tr:hover .campaign-buttons {
  opacity: 1;
  transform: translateX(0px);
}

.view-btn {
  background: var(--color-violet);
}

.view-btn:hover {
  box-shadow: 0px 0px 10px var(--color-violet);
}

.download-csv {
  background: var(--color-deepblue);
}

.download-csv:hover {
  box-shadow: 0px 0px 10px var(--color-deepblue);
}

input[type="checkbox"][checked] {
  accent-color: var(--color-salmon);
  box-shadow: 0px 0px 10px var(--color-salmon);
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

/* <--------- SECTION 2 CAMPAIGN TABLE ---------> */
