:root {
  --font-header: OutfitBold;
  --font-subheader: OutfitMedium;
  --font-paragraph: OutfitLight;
  --color-white: #f4f4f4;
  --color-salmon: #f59898;
  --color-violet: #bc93f6;
  --color-teal: #98e7fe;
  --color-deepblue: #4d6de0;
  --color-charcoal: #26272b;
  --color-background-dark: #26272b;
  --color-background-light: #fdf9f7;
  --color-link: #c1c1c1;
  --color-icon-background: #3a3b41;
  --color-divider: #575757;
  --background-gradient: linear-gradient(
    280.2deg,
    #f59898 30%,
    #bc93f6 60%,
    #98e7fe 90%
  );
  --background-gradient-darker: linear-gradient(
    280.2deg,
    #f59898 30%,
    #bc93f6 60%,
    #45b5d7 90%
  );
  --box-shadow: -7px -7px 14px #2a2d2f, 7px 7px 14px #1a191b;
}

@font-face {
  font-family: OutfitBold;
  src: url(Outfit/Outfit-Bold.ttf);
}

@font-face {
  font-family: OutfitMedium;
  src: url(Outfit/Outfit-Medium.ttf);
}

@font-face {
  font-family: OutfitLight;
  src: url(Outfit/Outfit-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* <--------- GLOBAL STYLING && RESPONSIVENESS ---------> */

body {
  background: var(--color-charcoal);
  color: var(--color-white);
}

.header-text {
  font-family: var(--font-header);
}

.subheader-text {
  font-family: var(--font-subheader);
}

.paragraph-text {
  font-family: var(--font-paragraph);
  line-height: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--color-white);
}

input {
  font-style: italic;
  background: transparent;
}

input::placeholder {
  color: #949494;
}

input:focus {
  outline: none;
}

.fa {
  cursor: pointer;
}

.fa:active {
  cursor: grabbing;
}

.gradient {
  background: var(--background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-darker {
  background: var(--background-gradient-darker);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.buttons-header {
  display: flex;
  gap: 20px;
}

.btn {
  min-width: 140px;
  padding: 8px 24px;
  background: transparent;
  border: 1px solid var(--color-violet);
  border-radius: 50px;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn.secondary {
  border-color: var(--color-deepblue);
}

@media only screen and (min-width: 100px) {
  .spacing {
    padding: 20px;
  }

  .header-bar {
    justify-content: initial;
    gap: 10px;
  }

  .button-burger-container {
    display: flex;
    width: 100%;
  }

  .wit-logo-text {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .how-works {
    display: none;
  }

  .btn-login {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .section-one {
    padding-top: 30px;
  }

  .welcome {
    font-size: 4rem;
  }

  .text-main {
    font-size: 4rem;
  }

  .top-value-props {
    flex-direction: column;
  }
}

@media only screen and (min-width: 300px) {
  .wit-logo-text {
    display: block;
  }

  .header-bar {
    gap: 20px;
  }
}

@media only screen and (min-width: 640px) {
  .spacing {
    max-width: 640px;
    margin: 0 auto;
  }

  .btn-login {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .spacing {
    max-width: 768px;
  }

  .header-bar {
    justify-content: space-between;
  }

  .button-burger-container {
    display: block;
    width: auto;
  }

  .nav-links {
    gap: 20px;
    display: flex;
  }

  .burger-menu {
    display: none;
  }

  .section-one {
    padding-top: 150px;
  }

  .welcome {
    font-size: 8rem;
  }

  .text-main {
    font-size: 8rem;
  }

  .top-value-props {
    flex-direction: row;
  }

  .how-works-mobile {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .spacing {
    max-width: 1024px;
  }

  .nav-links {
    gap: 60px;
  }

  .how-works {
    display: block;
  }

  .how-works-mobile {
    display: none;
  }

  .nav-links-burger-container.show {
    display: none;
  }

  .blurry-overlay.show {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .spacing {
    max-width: 1280px;
  }
}

/* <--------- GLOBAL STYLING && RESPONSIVENESS ---------> */

/* <--------- HEADER STYLING ---------> */

header {
  padding: 10px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

header:hover {
  box-shadow: 0px 0px 12px var(--color-white);
}

.header-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.wit-logo-text {
  font-size: 2.1rem;
  margin-left: 12px;
  color: var(--color-white);
}

.btn.primary:hover {
  background: var(--color-violet);
}

.btn.secondary:hover {
  background: var(--color-deepblue);
}

.button-burger-container {
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  font-size: 1.5rem;
}

header:hover .nav-links {
  font-size: 1.6rem;
}

.link-nav {
  color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.burger-menu-btn {
  font-size: 1.6rem;
}

.nav-links-burger-container {
  overflow: hidden;
  position: absolute;
  background: var(--color-background-dark);
  box-shadow: 0px 0px 20px #1a191b;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  width: 0%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 85%;
  margin: auto;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  z-index: 400;
}

.nav-links-burger-container.show {
  position: fixed;
  opacity: 1;
  width: 75%;
}

.blurry-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -9999;
  transition: opacity 0.25s ease-in-out;
}

.blurry-overlay.show {
  position: fixed;
  z-index: 300;
  opacity: 1;
  background: rgba(38, 39, 43, 0.9);
}

.burger-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.burger-menu-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.fa-times {
  font-size: 1.6rem;
  width: 100%;
  text-align: right;
}

.burger-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  transform: translateY(125px);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.nav-links-mobile.show {
  opacity: 1;
  transform: translateY(0px);
}

.icon-link {
  padding: 20px 0;
  color: var(--color-white);
  border-bottom: 1px solid rgba(244, 244, 244, 0.3);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-burger {
  font-size: 1.6rem;
  background: var(--color-icon-background);
  padding: 12px 10px 10px 10px;
  border-radius: 6px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
}

.buttons-burger {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-login-burger,
.btn-start-burger {
  transform: translateX(300px);
  opacity: 0;
}

.btn-login-burger {
  transition: all 0.8s ease-in-out;
}

.btn-start-burger {
  transition: all 1.3s ease-in-out;
}

.btn-login-burger.show,
.btn-start-burger.show {
  opacity: 1;
  transform: translateX(0px);
}

/* <--------- HEADER STYLING ---------> */

/* <--------- SECTION 1 HOMEPAGE STYLING ---------> */

.homepage-text {
  text-align: center;
}

.top-value-props {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.value-props {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cta-home {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 70px auto 0px auto;
  align-items: center;
  background: var(--color-white);
  color: var(--color-charcoal);
  border-radius: 50px;
  padding: 5px 5px 5px 20px;
}

.input-homepage {
  width: 100%;
  border: none;
  flex-basis: 100%;
}

.btn.input.homepage {
  background: var(--color-deepblue);
  border: none;
  min-width: 120px;
  padding: 10px 8px;
}

/* <--------- SECTION 1 HOMEPAGE STYLING ---------> */

/* <--------- SECTION 1 CREATE CAMPAIGN STYLING ---------> */

.section-one.campaign {
  padding-bottom: 70px;
}

.campaign-name {
  text-align: center;
  font-size: 8rem;
  margin-bottom: 30px;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

.campaign-instructions {
  text-align: center;
  font-size: 1.6rem;
}

.step-by-step {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 225px;
  align-items: center;
}

.instructions-icon {
  text-align: center;
  font-size: 3.5rem;
  cursor: auto;
  margin-bottom: 20px;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.sub-instructions {
  font-size: 1.3rem;
  text-align: center;
}

.arrow-instructions {
  display: flex !important;
  align-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
  cursor: auto;
}

/* <--------- SECTION 1 CREATE CAMPAIGN STYLING ---------> */

.divider {
  width: 75%;
  margin: 0 auto;
  height: 1px;
  border-radius: 50px;
  background: var(--color-white);
  opacity: 0.5;
}

/* <--------- SECTION 2 CREATE CAMPAIGN STYLING ---------> */

.section-two {
  padding-top: 70px;
  padding-bottom: 40px;
}

.email-template-header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 50px;
}

.email-template {
  position: relative;
  width: 75%;
  min-height: 100px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.email-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 10px;
  padding: 20px;
  left: 0;
}

.email-style span {
  margin-left: 12px;
}

.email-recipients {
  font-size: 1.5rem;
}

.email-buttons {
  display: flex;
  gap: 15px;
}

.email {
  position: absolute;
  top: 105px;
  padding: 20px;
  transition: all 2s ease-in-out;
}

.divider-email {
  position: absolute;
  height: 1px;
  width: 96%;
  background: var(--color-white);
  margin: 0 auto;
  top: 100px;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.divider-email.open {
  opacity: 0.5;
}

.email-header.header-text {
  font-size: 2rem;
  margin-bottom: 5px;
}

.subject-email,
.body-email {
  font-size: 1.4rem;
}

.subject-email {
  transform: translateY(100px);
  margin-bottom: 50px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.body-email {
  transform: translateY(300px);
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

.subject-email.open,
.body-email.open {
  transform: translateY(0px);
  opacity: 1;
}

/* <--------- SECTION 2 CREATE CAMPAIGN STYLING ---------> */

.launch-campaign-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.launch-campaign {
  background: var(--background-gradient);
  border: none;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  color: #26272b;
  min-height: 50px;
  transition: all 0.3s ease-in-out;
}

.launch-campaign:hover {
  transform: scale(1.05);
}

.approval-left {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
}
